.item-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-and-title-container {
  display: flex;
  align-items: center;
}

.currency-logo {
  width: 16px;
  height: 16px;
  margin-right: 8px;
}

@media (min-width: 576px) {
  .currency-logo {
    width: 32px;
    height: 32px;
    margin-right: 16px;
  }
}
